In [37]:
import pandas as pd
import numpy as np

In [2]:
file_data = pd.read_csv('file_data.csv')
file_data

              date   open   high    low  close    volume Name
0       2013-02-08  15.07  15.12  14.63  14.75   8407500  AAL
1       2013-02-11  14.89  15.01  14.26  14.46   8882000  AAL
2       2013-02-12  14.45  14.51  14.10  14.27   8126000  AAL
3       2013-02-13  14.30  14.94  14.25  14.66  10259500  AAL
4       2013-02-14  14.94  14.96  13.16  13.99  31879900  AAL
...            ...    ...    ...    ...    ...       ...  ...
619035  2018-02-01  76.84  78.27  76.69  77.82   2982259  ZTS
619036  2018-02-02  77.53  78.12  76.73  76.78   2595187  ZTS
619037  2018-02-05  76.64  76.92  73.18  73.83   2962031  ZTS
619038  2018-02-06  72.74  74.56  72.13  73.27   4924323  ZTS
619039  2018-02-07  72.70  75.00  72.69  73.86   4534912  ZTS

[619040 rows x 7 columns]

In [ ]:
file_data

In [24]:
file_data.date.apply(lambda x:int(x[:4])).unique()

array([2013, 2014, 2015, 2016, 2017, 2018], dtype=int64)

In [91]:
year_wise_groups = file_data.loc[file_data.date.apply(lambda x: x[:4] == '2013')].groupby('Name')

In [97]:
a = year_wise_groups.get_group(tickers[i])[['date','close']]
b = year_wise_groups.get_group(tickers[j])[['date','close']]
a_b = pd.merge(a,b,on='date',how='inner')
a_b = a_b.drop(['date'],axis=1).diff()
a_b.close_x.corr(a_b.close_y)

0.21087071370783436

In [107]:
year_wise_groups = file_data.loc[file_data.date.apply(lambda x: x[:4] == '2013')].groupby('Name')

In [112]:
list(year_wise_groups.Name.unique().index)

['A',
 'AAL',
 'AAP',
 'AAPL',
 'ABBV',
 'ABC',
 'ABT',
 'ACN',
 'ADBE',
 'ADI',
 'ADM',
 'ADP',
 'ADS',
 'ADSK',
 'AEE',
 'AEP',
 'AES',
 'AET',
 'AFL',
 'AGN',
 'AIG',
 'AIV',
 'AIZ',
 'AJG',
 'AKAM',
 'ALB',
 'ALGN',
 'ALK',
 'ALL',
 'ALLE',
 'ALXN',
 'AMAT',
 'AMD',
 'AME',
 'AMG',
 'AMGN',
 'AMP',
 'AMT',
 'AMZN',
 'ANDV',
 'ANSS',
 'ANTM',
 'AON',
 'AOS',
 'APA',
 'APC',
 'APD',
 'APH',
 'ARE',
 'ARNC',
 'ATVI',
 'AVB',
 'AVGO',
 'AVY',
 'AWK',
 'AXP',
 'AYI',
 'AZO',
 'BA',
 'BAC',
 'BAX',
 'BBT',
 'BBY',
 'BDX',
 'BEN',
 'BF.B',
 'BIIB',
 'BK',
 'BLK',
 'BLL',
 'BMY',
 'BRK.B',
 'BSX',
 'BWA',
 'BXP',
 'C',
 'CA',
 'CAG',
 'CAH',
 'CAT',
 'CB',
 'CBG',
 'CBOE',
 'CBS',
 'CCI',
 'CCL',
 'CDNS',
 'CELG',
 'CERN',
 'CF',
 'CHD',
 'CHK',
 'CHRW',
 'CHTR',
 'CI',
 'CINF',
 'CL',
 'CLX',
 'CMA',
 'CMCSA',
 'CME',
 'CMG',
 'CMI',
 'CMS',
 'CNC',
 'CNP',
 'COF',
 'COG',
 'COL',
 'COO',
 'COP',
 'COST',
 'COTY',
 'CPB',
 'CRM',
 'CSCO',
 'CSX',
 'CTAS',
 'CTL',
 'CTSH',
 'CTXS',
 'CVS',
 'CVX',
 'CXO',
 'D',
 'DAL',
 'DE',
 'DFS',
 'DG',
 'DGX',
 'DHI',
 'DHR',
 'DIS',
 'DISCA',
 'DISCK',
 'DISH',
 'DLR',
 'DLTR',
 'DOV',
 'DPS',
 'DRE',
 'DRI',
 'DTE',
 'DUK',
 'DVA',
 'DVN',
 'EA',
 'EBAY',
 'ECL',
 'ED',
 'EFX',
 'EIX',
 'EL',
 'EMN',
 'EMR',
 'EOG',
 'EQIX',
 'EQR',
 'EQT',
 'ES',
 'ESRX',
 'ESS',
 'ETFC',
 'ETN',
 'ETR',
 'EW',
 'EXC',
 'EXPD',
 'EXPE',
 'EXR',
 'F',
 'FAST',
 'FB',
 'FBHS',
 'FCX',
 'FDX',
 'FE',
 'FFIV',
 'FIS',
 'FISV',
 'FITB',
 'FL',
 'FLIR',
 'FLR',
 'FLS',
 'FMC',
 'FOX',
 'FOXA',
 'FRT',
 'FTI',
 'GD',
 'GE',
 'GGP',
 'GILD',
 'GIS',
 'GLW',
 'GM',
 'GOOGL',
 'GPC',
 'GPN',
 'GPS',
 'GRMN',
 'GS',
 'GT',
 'GWW',
 'HAL',
 'HAS',
 'HBAN',
 'HBI',
 'HCA',
 'HCN',
 'HCP',
 'HD',
 'HES',
 'HIG',
 'HII',
 'HOG',
 'HOLX',
 'HON',
 'HP',
 'HRB',
 'HRL',
 'HRS',
 'HSIC',
 'HST',
 'HSY',
 'HUM',
 'IBM',
 'ICE',
 'IDXX',
 'IFF',
 'ILMN',
 'INCY',
 'INTC',
 'INTU',
 'IP',
 'IPG',
 'IQV',
 'IR',
 'IRM',
 'ISRG',
 'IT',
 'ITW',
 'IVZ',
 'JBHT',
 'JCI',
 'JEC',
 'JNJ',
 'JNPR',
 'JPM',
 'JWN',
 'K',
 'KEY',
 'KIM',
 'KLAC',
 'KMB',
 'KMI',
 'KMX',
 'KO',
 'KORS',
 'KR',
 'KSS',
 'KSU',
 'L',
 'LB',
 'LEG',
 'LEN',
 'LH',
 'LKQ',
 'LLL',
 'LLY',
 'LMT',
 'LNC',
 'LNT',
 'LOW',
 'LRCX',
 'LUK',
 'LUV',
 'LYB',
 'M',
 'MA',
 'MAA',
 'MAC',
 'MAR',
 'MAS',
 'MAT',
 'MCD',
 'MCHP',
 'MCK',
 'MCO',
 'MDLZ',
 'MDT',
 'MET',
 'MGM',
 'MHK',
 'MKC',
 'MLM',
 'MMC',
 'MMM',
 'MNST',
 'MO',
 'MON',
 'MOS',
 'MPC',
 'MRK',
 'MRO',
 'MS',
 'MSFT',
 'MSI',
 'MTB',
 'MTD',
 'MU',
 'MYL',
 'NBL',
 'NCLH',
 'NDAQ',
 'NEE',
 'NEM',
 'NFLX',
 'NFX',
 'NI',
 'NKE',
 'NLSN',
 'NOC',
 'NOV',
 'NRG',
 'NSC',
 'NTAP',
 'NTRS',
 'NUE',
 'NVDA',
 'NWL',
 'NWS',
 'NWSA',
 'O',
 'OKE',
 'OMC',
 'ORCL',
 'ORLY',
 'OXY',
 'PAYX',
 'PBCT',
 'PCAR',
 'PCG',
 'PCLN',
 'PDCO',
 'PEG',
 'PEP',
 'PFE',
 'PFG',
 'PG',
 'PGR',
 'PH',
 'PHM',
 'PKG',
 'PKI',
 'PLD',
 'PM',
 'PNC',
 'PNR',
 'PNW',
 'PPG',
 'PPL',
 'PRGO',
 'PRU',
 'PSA',
 'PSX',
 'PVH',
 'PWR',
 'PX',
 'PXD',
 'QCOM',
 'RCL',
 'RE',
 'REG',
 'REGN',
 'RF',
 'RHI',
 'RHT',
 'RJF',
 'RL',
 'RMD',
 'ROK',
 'ROP',
 'ROST',
 'RRC',
 'RSG',
 'RTN',
 'SBAC',
 'SBUX',
 'SCG',
 'SCHW',
 'SEE',
 'SHW',
 'SIG',
 'SJM',
 'SLB',
 'SLG',
 'SNA',
 'SNI',
 'SNPS',
 'SO',
 'SPG',
 'SPGI',
 'SRCL',
 'SRE',
 'STI',
 'STT',
 'STX',
 'STZ',
 'SWK',
 'SWKS',
 'SYK',
 'SYMC',
 'SYY',
 'T',
 'TAP',
 'TDG',
 'TEL',
 'TGT',
 'TIF',
 'TJX',
 'TMK',
 'TMO',
 'TPR',
 'TRIP',
 'TROW',
 'TRV',
 'TSCO',
 'TSN',
 'TSS',
 'TWX',
 'TXN',
 'TXT',
 'UAA',
 'UAL',
 'UDR',
 'UHS',
 'ULTA',
 'UNH',
 'UNM',
 'UNP',
 'UPS',
 'URI',
 'USB',
 'UTX',
 'V',
 'VAR',
 'VFC',
 'VIAB',
 'VLO',
 'VMC',
 'VNO',
 'VRSK',
 'VRSN',
 'VRTX',
 'VTR',
 'VZ',
 'WAT',
 'WBA',
 'WDC',
 'WEC',
 'WFC',
 'WHR',
 'WM',
 'WMB',
 'WMT',
 'WU',
 'WY',
 'WYN',
 'WYNN',
 'XEC',
 'XEL',
 'XL',
 'XLNX',
 'XOM',
 'XRAY',
 'XRX',
 'XYL',
 'YUM',
 'ZBH',
 'ZION',
 'ZTS']

In [ ]:
ret = {'stock1': [], 'stock2': [], 'corr': []}
tickers = list(year_wise_groups.Name.unique().index)
for i in range(len(tickers)-1):
    g1 = year_wise_groups.get_group(tickers[i])[['date','close']]
    for j in range(i+1,len(tickers)):
        g2 = year_wise_groups.get_group(tickers[j])[['date','close']]
        a_b = pd.merge(g1,g2,on='date',how='inner')
        a_b = a_b.drop(['date'],axis=1).diff()
        ret['stock1'].append(tickers[i])
        ret['stock2'].append(tickers[j])
        ret['corr'].append(a_b.close_x.corr(a_b.close_y))

In [ ]:
pd.DataFrame(ret)